body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #35424a;
  color: white;
  text-align: center;
  padding: 1rem;
  
}
nav {
  background-color: #35424a;
  padding: 0.5rem;
  
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}


#loading-message {
  position: fixed;
  top: 20%;
  left: 50%;
  
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  z-index: 9999; 
}
